@import url('https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro');

body {
    font-family: 'Muli', sans-serif;
    text-align: center;
    background-color: rgb(231, 68, 68);
}

h1 {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px;
    font-size: 2.5em;
}

.blink {
    font-size: 2em;
}

img.lucas {
    margin-top: 1em;
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px rgb(97, 0, 0);
}