@import url('https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro');

body {
    font-family: 'Muli', sans-serif;
    text-align: center;
    background-color: rgb(228, 50, 50);
}

h1 {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px;
    font-size: 2.5em;
}

.blink {
    font-size: 2em;
}